*.pdb
*.cache
*.exe
*.manifest
DeepLearning/.vs/DeepLearning/v14/.suo
*.user
DeepLearning/packages/
DeepLearning/*/bin/Debug/*.*
DeepLearning/*/bin/Release/*.*
DeepLearning/*/obj/*.*
DeepLearning/*/obj/*/*.*
